{{ define "common/footer.tmpl" }}

    <footer>
        <div class="logo">cekeh.com</div>
        <div class="links">
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/profile">Profile</a>
        </div>
        <div class="copy">
            &copy; {{ year }} <a href="https://github.com/ThomasvanBommel/">Thomas vanBommel</a>
        </div>
    </footer>
    
{{ end }}